* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 4fr;
}

.header,
.container {
    padding: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > p {
    font-size: larger;
    font-weight: bold;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    background-color: lightblue;
    font-size: large;
    border: 2px solid black;
}

.header > button {
    max-width: 20%;
}

.container {
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(auto, 50%);
    row-gap: 16px;
    column-gap: 16px;
}

#popup {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 25%;
    background-color: white;
    border: solid;
    border-color: black;
    border-width: 2px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 4px;
}

#popup > div {
    display: flex;
    width: 75%;
    justify-content: center;
}

#popup > div > *:first-child {
    max-width: 10%;
}

#popup > div > *,
#popup > button {
    width: 75%;
    flex: 1;
}

#error-message {
    visibility: hidden;
    color: red;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 16px;
    background-color: antiquewhite;
    border-radius: 32px;
}

.card > *:first-child {
    font-size: xx-large;
    font-weight: bolder;
}

.card > *:nth-child(2) {
    font-size: large;
    font-weight: bold;
}

.card > *:nth-child(3) {
    font-size: medium;
}

.card > *:last-child {
    height: 20%;
    aspect-ratio: 1 / 1;
    margin: 2rem;
}